<!DOCTYPE html>
<html>
    <head>
            <title>Sreelekha</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        
            <link rel="stylesheet" type = "text/css" href= "A02Vijaya.css">
        </head>
            
        <body>
            <nav>
                    <h3>Sreelekha Vijaya</h3>
                    <a class="home" href="/">Home</a> 
                    <a class="CurrencyConverter" href="/Currency">CurrencyConverter</a> 
                    <a class="Contactinfo" href="/ContactInfo">Contact info</a> 
                    <a class="Contactinfo" href="/guestbook">Guest Book</a> 
                    </nav>

        
<div class="container">
            
<div class="row">
<div class="col-md-6">
                        <img src="12345.jpg" alt="12345"></div>
<div class="col-md-6">

<div><aside><h1>About me</h1></div>
    
<div class="about">
        I’m a new graduate student currently attending Applied Computer Science.I’m from Hyderabad, India. I have done my bachelor’s degree in Computer Science from Mallareddy Engineering college. I have 3 years of work experience, wherein 1 year I have worked with C3I as a technical analyst and then moved to Verizon in which I had 2 years of experience in the field of Incident management.
        </div>
<header>
    
       <h2 id="skills">Skills</h2></header>
       
        <ul><li>Java</li>
            <li>HTML</li>
            <li>Oracle</li>
            <li>.net</li>
      <header>
      
      <h2 id="interests">Interests:</h2></header>
      <ul><li>Painting</li>
      <li>Sketching</li>
      <li>Dancing</li></ul>
    
      </aside>

</div>




</body>
</html>
