<!DOCTYPE html>
<html>
<head>
                
                <title>Contactform</title>
                </head>
                
        <body>
            
            
            <nav>
                <a class="home" href="/">Home</a> 
                    <a class="CurrencyConverter" href="/Currency">CurrencyConverter</a> 
                    <a class="Contactinfo" href="/ContactInfo">Contact info</a> 
                    <a class="Contactinfo" href="/guestbook">Guest Book</a> 
                    
                    </nav>
            <link rel="stylesheet" type = "text/css" href= "ContactInfo.css">
    <h3>Contact Form</h3>
    <form>
        Please enter your Query: <input type="text" name="Question"><br><br>
        <input type="submit" value="Submit"><br>
         </form><br>
         <footer>Contact information: <a href= "s531382@nwmissouri.edu">s531382@nwmissouri.edu</a></footer>
         <h3>Other Contact Info</h3>
         <a  href="https://github.com/Sreelekha7" >
         <img src="git1.jpg" id="git" alt="git"></a>
         <a href="https://bitbucket.org/Sreelekha7/" >
                <img src = "Bit.jpg" id="bit" alt="link"></a>
        <a href="https://www.linkedin.com/in/sree-lekha-21640570">
                <img src = "link.jpg" id="link" alt="link"></a>
         
        
        </body>
</html>






