
<!DOCTYPE html>
<html>
    <head>
        <title>Currency Converter</title>
        <link rel="stylesheet" type = "text/css" href= "Currency.css">
        </head>
        
            <body>
                    <nav>
                        <a class="home" href="/">Home</a> 
                        <a class="CurrencyConverter" href="/Currency">CurrencyConverter</a> 
                        <a class="Contactinfo" href="/ContactInfo">Contact info</a> 
                        <a class="Contactinfo" href="/guestbook">Guest Book</a>  
                            
                            </nav>

     <h1 id="Cur"> Currency Converter</h1>
     <br>
    <form action="javascript:Currency()">
        Enter the type of currency: <input type="text" name="Enter the type of currency" id="value1"><br><br>
        Enter the Amount : <input type="text" name="Enter the Amount" id="value2"><br><br>
        
        <input type="submit" value="Submit"><br>
         </form><br>
         <div id="val" ></div>
         <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="Currency.js"></script>
        
</body>
</html>
