
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
        <nav>
                <a class="home" href="/">Home</a> 
                    <a class="CurrencyConverter" href="/Currency">CurrencyConverter</a> 
                    <a class="Contactinfo" href="/ContactInfo">Contact info</a> 
                    <a class="Contactinfo" href="/guestbook">Guest Book</a> 
                    
                    </nav>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
